.homebg {
    background-image: url('../img/25.jpg');
}

.home {
    color: #D82138;
}

.intro {
    color: #D82138 !important;
    background-color: #fff;
    border: none;
    animation: glowing 1300ms infinite !important;
}

.intro:hover {
    border: none;
}

.headitem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-col {
    color: #fff;
}

@keyframes glowing {
    0% { background-color: #fff; box-shadow: 0 0 5px #fff; }
    50% { background-color: #fff; box-shadow: 0 0 20px #fff; }
    100% { background-color: #fff; box-shadow: 0 0 5px #fff; }
    }